{% extends 'main.html' %}
{% block login %}


<form action="/auth/login/" method="post">
    <div class="form-group login-form">
        {% csrf_token %}
        <label class="label-in-login" for="username">Логин</label>
        <input class="form-control" type="text" name="username" id="username">
        <label class="label-in-login" for="password">Пароль</label>
        <input class="form-control" type="password" name="password" id="password">
        <div class="d-flex flex-row justify-content-between">
            <input class="btn btn-primary submit-in-login" type="submit" value="Log in">
            <div class="btn submit-in-login"><a href="/auth/register/">Sign up</a></div>
        </div>
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
    </div>
</form>


{% endblock %}