{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'article/js/calendar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'article/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/style_blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/calendar.css' %}">
</head>
<body>
    <div>
        <nav class="d-flex flex-row menu">
            <ul class="d-flex flex-row">
                {% if username %}
                    <li><a href="/articles/my_articles/">My articles</a></li>
                    <li><a href="/auth/logout/">Logout ({{ username }})</a></li>
                {% else %}
                    <li><a href="/auth/login/">Sign in</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <h1 class="blog"><a href="/articles/all/">BBBlog!</a></h1>
    <div class="d-flex flex-column main-margin">
        {% block article %}{% endblock %}
        {% block login %}{% endblock %}
        {% block my_articles %}{% endblock %}
        {% block calendar %}{%  endblock %}
    </div>
</body>
</html>